<app-loader *ngIf="showloader"></app-loader>

<div class="container section-content">
  <h3 class="text-center">{{contentData?.title}}</h3>
  <h4 class="text-center">{{contentData?.sub_title}}</h4>
  <div *ngIf="contentData?.media.length == 1">
    <img *ngIf="contentData?.media[0].show_img" [src]="(contentData?.media[0]?.media_file).slice(30)" alt="" style=" width:25rem"
      class="img-thumbnail  mx-auto d-block">
      <h4 class="text-center">
          <i class="fa fa-download" *ngIf="!contentData?.media[0].show_img" title="{{contentData?.title}}" (click)="downloadFile(contentData?.media[0]?.media_file.slice(30))"></i>
      </h4>
  </div>
  <p class="lead content-align">{{contentData?.content}}</p>
  <span class="row" *ngIf="contentData?.media.length > 1">
    <div class="column has-text-centered">
        <h4 class="float-right">
            <i class="fa fa-download" *ngIf="contentData?.title == 'School Event'" title="{{contentData?.title}}" (click)="download()"></i>
        </h4>
      <div>
          <div class="row card-deck">
            <div class="col-md-12" *ngFor="let image of contentData?.media | keyvalue">
              <div class="card shadow p-3 mb-5 bg-white rounded"  data-toggle="tooltip"
                data-placement="top" title="{{image.value.title}}">
                <img *ngIf="image.value.show_img" class="card-img-top img-fluid" [src]="(image.value.media_file).slice(30)" alt="image.value.title" (click)="open(image.key)">
                <h4 class="text-center">
                    <i class="fa fa-download" *ngIf="!image.value.show_img" title="{{image.value.title}}" (click)="downloadFile(image.value.media_file.slice(30))"></i>
                </h4>
                
                <h3 class="card-title text-center">{{image.value.title}}
                </h3>
                <div class="card-body text-justify" >
                  {{image.value.content}}
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

  </span>

  <!-- FOR FACULTY STAFF  -->

  <section class="our-webcoderskull padding-lg" *ngIf="pageSlug == 'faculty-staff-images' || pageSlug == 'administrative-departmente02bfce4-016a-4902-90e1-c2a1e323db98'">
      <div class="container">
          <div class="row heading heading-icon">
          </div>
          <ul class="row">
              <li class="col-12 col-md-6 col-lg-3" *ngFor="let val of facultyData;">
                  <div class="cnt-block equal-hight" style="height: 349px;">
                      <figure><img [src]="(val.profile_image).slice(30)" class="img-responsive" alt=""></figure>
                      <h3>{{val.full_name | titlecase}}</h3>
                      <h5>{{val?.education}}</h5>
                      <h5>{{val?.job_title}}</h5>
                      <h5>{{val?.contact_number}}</h5>
                  </div>
              </li>
          </ul>
      </div>
  </section>

</div>


